.t1 {
	background-color: #cdc1b4;
}

.t2 {
	background-color: #eee4da;
}

.t4 {
	background-color: #ede0c8;
}

.t8 {
	background-color: #f2b179;
}

.t16 {
	background-color: #f59563;
}

.t32 {
	background-color: #f67c5f;
}

.t64 {
	background-color: #f65e3b;
}

.t128 {
	background-color: #edcf72;
}

.t256 {
	background-color: #edcc61;
}

.t512 {
	background-color: #eccc61;
}

.t1024 {
	background-color: #eec74d;
}

.t2048 {
	background-color: #edc540;
}



