.n1 {
	background-color: #cdc1b4;
}

.n2 {
	background-color: #eee4da;
}

.n4 {
	background-color: #ede0c8;
}

.n8 {
	background-color: #f2b179;
}

.n16 {
	background-color: #f59563;
}

.n32 {
	background-color: #f67c5f;
}

.n64 {
	background-color: #f65e3b;
}

.n128 {
	background-color: #edcf72;
}

.n256 {
	background-color: #edcc61;
}

.n512 {
	background-color: #eccc61;
}

.n1024 {
	background-color: #eec74d;
}

.n2048 {
	background-color: #edc540;
}



